:root {
  --standard-border-radius: 3px;

  --dcolor-border-radius: 50%;

  /* Default (light) theme */
  --bg: #f0f1f2;
  --accent-bg: #f6f7f1;
  --accent-shaded-bg: #e4e5e0;
  --text: #212121;
  --text-light: #585858;
  --header: #700000;
  --border: #700000;
  --accent: #9f1c1f;
  --breach: #9f1c1f;
  --accent-hover: #d12529;
  --accent-text: #fcfef0;

  --tag-bg: darkslategrey;
  --tag-border: black;
  --tag-text: white;

  --dcolor-border: black;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #5A5C5C;
    --accent-shaded-bg: #4a4c4c;
    --text: #dcdcdc;
    --text-light: #ababab;
    --header: #98aeb1;
    --border: #98aeb1;
    --accent: #9f1c1f;
    --breach: #661214;
    --accent-hover: #d12529;
    --accent-text: #fcfef0;
  }
}

body {
  font-size: 1rem;
}

body > header {
  padding: 0 0.5rem;
}

body > header h1 {
  margin: 0.5rem auto;
}

body > header > *:only-child {
  margin-block-start: 0;
}

.printable {
  display: none;
}

@media print {
  .printable {
    display: unset;
  }
  
  body.custom-print > :not(.printable) {
    display: none;
  }

  body {
    background-color: unset;
  }
}

.printable > table {
  width: 100%;
}

.mobile {
  display: none;
}

.small {
  font-size: 0.8rem;
}

.inline-on-desktop {
  display: inline;
}

@media only screen and (max-width: 720px) {
  .desktop {
    display: none;
  }
  
  .mobile {
    display: unset;
  }

  .inline-on-desktop {
    display: block;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header);
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: "Grenze", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  margin-top: 0;
}

button {
  border-width: 1px;
  border-color: var(--border);
}

.accent-box {
  background-color: var(--accent-bg);
  border-width: var(--border-width);
  border-color: var(--border);
  border-style: solid;
  border-radius: var(--standard-border-radius);
  padding: 0.5rem 1rem;
}

.accent-box > *:first-child {
  margin-top: 0;
}

.accent-box > *:last-child {
  margin-bottom: 0;
}

ul.item-list, ul.source-list {
  list-style: none;
  padding-inline-start: 0px;
  width: 100%;
}

ul.item-list li {
  display: flex;
  flex-direction: row;
  padding: 8px;
  line-height: 44px;
}

ul.source-list li {
  padding: 8px;
}

@media only screen and (max-width: 720px) {
  ul.item-list li {
    line-height: 1;
  }
}

ul.item-list li:nth-child(even),
ul.source-list li:nth-child(even) {
  background-color: var(--accent-shaded-bg);
}

ul.item-list button {
  margin-right: 8px;
  max-width: 44px;
  min-width: 44px;
  height: 44px;
  margin: 0;
}

.primary-list-item {
  flex: 1
}

ul.item-list .description {
  color: var(--text-light);
}

.summary-list {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul.available:empty::after {
  content: "No items available";
  color: var(--text-light);
  font-style: italic;
}

ul.fleet:empty::after {
  content: "No items selected";
  color: var(--text-light);
  font-style: italic;
}

.error li strong {
  color: var(--accent);
}

.error-indicator {
  color: var(--accent);
  font-weight: bold;
}

.tagged[data-tag]:before {
  content: attr(data-tag);
  font-size: 0.7rem;
  vertical-align: top;
  font-weight: bolder;
  margin-right: 4px;
  color: var(--tag-text);
  background-color: var(--tag-bg);
  border: var(--tag-border) var(--border-width) solid;
  padding: 0px 2px;
  border-radius: var(--standard-border-radius);
}

.tag {
  font-size: 0.7rem;
  font-weight: bolder;
  position: relative;
  top: -3px;
  color: var(--tag-text);
  background-color: var(--tag-bg);
  border: var(--tag-border) var(--border-width) solid;
  padding: 0px 2px;
  border-radius: var(--standard-border-radius);
}

@media only screen and (max-width: 720px) {
  .tagged[data-tag]:before {
    vertical-align: middle;
  }
}

.dcolor-g {
  font-size: 0.7rem;
  vertical-align: middle;
  font-weight: bolder;
  border: var(--dcolor-border) var(--border-width) solid;
  padding: 1px 4px;
  margin: 0px 2px;
  border-radius: var(--dcolor-border-radius);
  background-color: green;
  color: white;
}

.dcolor-u {
  font-size: 0.7rem;
  vertical-align: middle;
  font-weight: bolder;
  border: var(--dcolor-border) var(--border-width) solid;
  padding: 1px 4px;
  margin: 0px 2px;
  border-radius: var(--dcolor-border-radius);
  background-color: blue;
  color: white;
}

.dcolor-y {
  font-size: 0.7rem;
  vertical-align: middle;
  font-weight: bolder;
  border: var(--dcolor-border) var(--border-width) solid;
  padding: 1px 4px;
  margin: 0px 2px;
  border-radius: var(--dcolor-border-radius);
  background-color: yellow;
  color: black;
}

.dcolor-r {
  font-size: 0.7rem;
  vertical-align: middle;
  font-weight: bolder;
  border: var(--dcolor-border) var(--border-width) solid;
  padding: 1px 4px;
  margin: 0px 2px;
  border-radius: var(--dcolor-border-radius);
  background-color: red;
  color: white;
}

.dcolor-b {
  font-size: 0.7rem;
  vertical-align: middle;
  font-weight: bolder;
  border: var(--dcolor-border) var(--border-width) solid;
  padding: 1px 4px;
  margin: 0px 2px;
  border-radius: var(--dcolor-border-radius);
  background-color: black;
  color: white;
}

.column {
  float:left;
  width: 50%;
}

.center-column {
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 720px) {
  .column {
    width: 100%;
  }

  .center-column {
    width: 100%;
  }
}

.column-host:after {
  content: "";
  display: table;
  clear: both;
}

.loc-die {
  margin-bottom: 0;
}

ul.slots {
  list-style: none;
  padding-inline-start: 0px;
}

ul.slots li {
  margin-bottom: 4px;
}

.breach {
  display: inline-block;
  text-align: center;
  width: 40px;
  background-color: var(--breach);
  color: var(--accent-text);
}

.location-card {
  margin: 4px;
}

.more-info-link {
  padding: 10px;
  color: var(--text);
}

header nav a:hover,
header nav a.current,
header nav a[aria-current="page"],
header nav a[aria-current="true"] {
  background: var(--accent-shaded-bg);
  border-color: var(--accent);
  color: var(--text);
  cursor: pointer;
}

.sticky {
  position: sticky;
  top: 0;
}

.fleet-summary {
  margin-bottom: 8px;
}

/* Unset this from simple css to avoid overlapping sticky header */
input[type="checkbox"],
input[type="radio"] {
  position: unset;
  margin-right: 8px;
}

.post-date {
  font-style: italic;
  color: var(--text-light);
}

body > nav.crumbs {
  background-color: var(--accent);
  color: var(--accent-text);
  border-bottom: var(--border-width) solid var(--border);
  padding: 0 0.5rem 0rem 0.5rem;
  grid-column: 1 / -1;
  font-size: 0.8rem;
}

body > nav.crumbs > * {
  max-width: min(45rem, 90%);
  margin: 0 auto;
}

body > nav.crumbs a {
  color: var(--accent-text);
  text-decoration: none;
}

body > nav.crumbs a:hover {
  color: var(--accent-text);
  text-decoration: underline;
}

details > details {
  background-color: var(--accent-shaded-bg);
}

details[open] > summary {
  margin-bottom: 0;
}

.note {
  font-style: italic;
  color: var(--text-light);
}

.status-text {
  display: inline-block;
  padding: 0.5rem;
  color: var(--text-light);
}

.hidden {
  display: none;
}